.page {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}
.error {
  padding-left: 10px;
  font-size: 1.5rem;
  color: var(--red);
  transition: 0.5s;
  margin-bottom: 0.5rem;
}
.message {
  padding-left: 10px;
  font-size: 1.5rem;
  color: var(--green);
  transition: 0.5s;
}
.btn {
  outline: none;
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.4rem;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
  border: 2px solid transparent;
  background-color: var(--primary);
  color: white;
}
.btn-primary {
  background-color: var(--primary);
}
.btn-primary:hover {
  background-color: var(--primary-shade);
}
.center-div {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-logo {
  width: 5rem;
  margin-bottom: 2rem;
  background-color: var(--primary);
  padding: 1rem;
  border-radius: 50%;
  transition: transform 0.2s ease;
}
.page-logo:hover {
  animation: bounce 0.5s ease;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-18.5px);
  }
}
