.footer {
  margin-top: auto;
  width: 100%;
}

.footer-wrapper {
  background-image: linear-gradient(
    to right bottom,
    rgba(26, 150, 227, 0.619),
    rgba(13, 70, 105, 0.652)
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-main {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 3rem;
}

/*section 1*/
.footer-main_section1 {
  text-align: center;
}
.footer-main_section1 img {
  height: 6rem;
}
.footer-main_section1 h3,
.footer-main_section1 p {
  font-size: 3rem;
  margin-top: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.footer-main_section1 h3 {
  text-shadow: 10px 3px 10px #00e6e6;
}
.footer-bottom {
  padding: 1rem;
  text-align: center;
}
.footer-bottom p {
  font-size: 1.5rem;
  font-weight: 700;
}
